$white: #ffffff;
$black: #000000;

$gray-font: #767653;
$add-note-font: #717171;
$add-note-title: #868686;
$add-note-desc: #aaaaaa;
$footer-font: #9b9b9b;

$bg-note: #ffffc9;
$bg-nav: #34a84a;
$bg-note-list: #eeeef1;
$bg-add-note: #e3e3e7;

$gray-border: #979797;
$divider-border: #ebebb0;
$new-divider-border: #efefef;

$save-btn: #34a84a;
$cancel-btn: #717171;
$confirm-btn: #ff5252;

$icon-delete: #3e3e27;
$icon-edit: #767653;
